@import 'tailwindcss';
@import '@heroui/styles';

:root {
  --background: #eeece1;
  --foreground: #0a0d2a;
  --custom-red: #bd3c16;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brick-red: var(--custom-red);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-antonio: var(--font-antonio-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility wrapper {
  max-width: 1800px;
  margin-inline: auto;
  padding-inline: 1rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-antionio), sans-serif, Arial, Helvetica;

  a {
    text-decoration: none;
  }
}

.custom-icon {
  @apply w-[18px] h-[18px] md:w-[28px] md:h-[28px];
}
